# Byte-compiled or optimized files
__pycache__/
*.py[cod]
*$py.class

# C Extensions
*.so

# poetry
#poetry.lock

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Large or personal files
data/
app/
train_checkpoints/
lfw.tgz
siamese_network.h5
